<?xml version='1.0' encoding='utf-8'?>
<widget
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.lucas.buman"
        version="0.0.1"
        versionCode="1"
        >
    <name>Buman</name>

    <description>
        Small manager for monthly budgets.
    </description>
    <author email="lgiudice@10pines.com">
        Lucas Giudice
    </author>
    <feature name="http://api.phonegap.com/1.0/device"/>
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="false"/>
    <preference name="target-device" value="universal"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="android-installLocation" value="auto"/>
    <icon src="icon.png"/>
    <icon gap:density="ldpi" gap:platform="android" src="img/icon.png"/>
    <icon gap:density="mdpi" gap:platform="android" src="img/icon.png"/>
    <icon gap:density="hdpi" gap:platform="android" src="img/icon.png"/>
    <icon gap:density="xhdpi" gap:platform="android" src="img/icon.png"/>
    <icon gap:platform="blackberry" src="img/icon.png"/>
    <icon gap:platform="blackberry" gap:state="hover" src="img/icon.png"/>
    <icon gap:platform="ios" height="57" src="img/icon.png" width="57"/>
    <icon gap:platform="ios" height="72" src="img/icon.png" width="72"/>
    <icon gap:platform="ios" height="114" src="img/icon.png" width="114"/>
    <icon gap:platform="ios" height="144" src="img/icon.png" width="144"/>
    <icon gap:platform="webos" src="img/icon.png"/>
    <icon gap:platform="winphone" src="img/icon.png"/>
    <icon gap:platform="winphone" gap:role="background" src="img/icon.png"/>
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png"/>
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png"/>
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png"/>
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png"/>
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png"/>
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320"/>
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640"/>
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768"/>
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024"/>
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg"/>
    <access origin="*"/>
</widget>
